.DS_Store
.presentation.tex.swp
Figures/.DS_Store
presentation.aux
presentation.fdb_latexmk
presentation.fls
presentation.log
presentation.nav
presentation.out
presentation.pdf
presentation.snm
presentation.toc
presentation.vrb
centering-example/test.aux
centering-example/test.fdb_latexmk
centering-example/test.fls
centering-example/test.log
centering-example/test.pdf
missfont.log
xelatex19540.fls